/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300, 400, 500|Apollo :400,100,300,600|Dancing Script: 400, 700");
$base-font: "Raleway", "Helvetica", "sans-serif";
$header-font: "Dancing Script", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #35C793;

$white: #FFFFFF;
$black: #0F0F0F;
$red: #DA4167;
$blue: #7C98B3;
$yellow: #F8E386;
$orange: #E67E22;
$green: #35C793;
$dark-green: #179D6F;

$extra-light-gray: #EDEDED;
$light-gray: #BBBBBB;
$gray: #676767;
$dark-gray: #333333;
