// Image gallery background : video si tablette ou laptop

#video-background {
  min-width: 100vw;
  min-height: calc(100vh - 35px);
  z-index: 3;
  margin: 0px !important;
  padding: 0px !important;
  // position: absolute;
}

@media (max-width: $screen-sm-min) {
  #video-background {
    display: none;
  }
}

// Image gallery background : image si smartphone

#image-background {
  width: 100vw;
  z-index: 3;
  // position: absolute;
}

@media (min-width: $screen-sm-min) {
  #image-background {
    display: none;
  }
}

// cards videos si tablette ou laptop

.cards-video {
  position: absolute;
  z-index: 4;
  width: 100% !important;
  bottom: 90px;
}

// Card video links in Gallery pages or in gallery langing page si smartphone

.gallery-links {
  display: flex;
  align-items: center;
}

.card-video-link {
  background-color: white;
  height: 40px;
  width: 40px;
  margin: 5px;
  padding: 0px 10px;
  opacity: 0.9;
}

.card-video-link i{
  color: $green;
  font-size: 30px;
}

.card-video:hover {
  opacity: 1;
}

// icones sur la droite quand plus grand que smartphones

@media (min-width: $screen-sm-min) {
  .gallery-links {
     float: right;
   }
}

// icones centrées quand smartphones

@media (max-width: $screen-sm-min) {
  .gallery-links {
     justify-content: space-around;
   }
}

// Card video in Gallery landing page

.card-video {
  background-color: white;
  height: 190px;
  margin: 5px;
  padding: 5px 15px;
  margin-bottom: 30px;
  opacity: 0.9;
}

.card-video h4 {
  font-size: 30px;
  color: $dark-gray;
}

.card-video p {
  font-size: 14px;
  color: $light-gray;
}

.card-video i{
  color: $green;
  font-size: 60px;
}

.card-video:hover {
  opacity: 1;
}

  // smart phones (xs)

@media (max-width: $screen-sm-min) {
  .card-video {
    height: auto;
    margin: 5px;
    padding: 0px 0px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
  }

  .card-video h4 {
    font-size: 14px;
  }

  .card-video p {
    font-size: 10px;
  }

  .card-video i{
    font-size: 30px;
    margin: 0px !important;
  }
}

  // tablettes (sm)

@media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
  .card-video {
    height: auto;
    margin: 5px;
    padding: 0px 0px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .card-video h4 {
    font-size: 14px;
  }

  .card-video p {
    font-size: 10px;
  }

  .card-video i{
    font-size: 30px;
    margin: 0px !important;
  }
}

  // small laptop (md)

@media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {

}

  // large laptops (lg and xl)

@media (min-width: $screen-lg-min) {

}


