<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-5">
        <ul class="list-inline">
          <li><a class="fi-social-facebook" href=""></a></li>
          <li><a class="fi-social-instagram" href=""></a></li>
          <li><a class="fi-social-twitter" href="" target="_blank"></a></li>
        </ul>
      </div>
      <div class="col-xs-7">
        <div class="footer-right">
          <ul class="list-inline">
            <li class = "link-footer">
              <%= link_to t('footer.legal_information'), legal_path %>
            </li>
            <li class="link-footer">
              <%= link_to new_message_path do %>
                <%= t('footer.contact') %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
