<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <ul class="list-inline">
          <li><a class="fi-social-facebook" href=""></a></li>
          <li><a class="fi-social-instagram" href=""></a></li>
          <li><a class="fi-social-twitter" href="" target="_blank"></a></li>
        </ul>
      </div>
      <div class="col-xs-4">
        <div class="footer-right">
          <div class="link-footer">
            <%= link_to contact_path do %>
                <%= t('footer.contact') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
