<div class=" text-center features">
  <div class="row">

    <h1 class = "white-font"><%= t('gallery.welcome') %></h2>

    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <%= link_to cl_image_path(@photo_ids.first), :class => "swipebox", :alt => "image", :title => t('gallery.medavy') do %>
        <div class="card-video">
          <i class="fi-play"></i>
          <h4> <%= t('gallery.diaporama') %></h4>
        </div>
      <% end %>
      <% @photo_ids[1..-1].each do |id| %>
        <div class="hidden">
          <%= link_to cl_image_path(id), :class => "swipebox cl-image-pages", :alt => "image", :title => t('gallery.medavy') do %>
            <div> </div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</div>
