
<div class = "container narrow margin-top-height-navbar">
  <div class="row">
  <% @ids.each do |id| %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-sm-3">
      <div class="cl-image-container">
        <%= cl_image_tag(id, class: "cl-image-pages") %>
      </div>
    </div>
  <% end %>
  </div>
</div>


