<!-- Video pour les tablettes et ordis -->
<div class="margin-top-height-navbar">
  <%= video_tag "http://res.cloudinary.com/dsosadxbk/video/upload/v1491490317/Medavy_-_Tour_Circulaire_rapide_stvusp.mp4", autoplay: true, muted: true, id: "video-background"%>
</div>
<!-- Image pour les smart phones -->
<div class="banner" style="background-image: url('<%= image_path "banner.JPG" %>');">
</div>

<div class="container cards-video">
  <%= render "shared/gallery-links" %>
</div>

