
<div class = "container narrow margin-top-height-navbar">
  <h1 class = "text-center green-font"><%= t('gallery.interiors') %></h1>
  <%= render "shared/gallery-links" %>

  <% @ids.each do |id| %>
    <div class="col-xs-4 col-sm-3">
      <div class="cl-image-container">
        <%= link_to cl_image_path(id), :class => "swipebox cl-image-pages", :alt => "image", :title => t("gallery.interiors") do %>
          <%= cl_image_tag(id) %>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
