<div class = "container narrow margin-top-height-navbar padding-bottom">
  <h1 class = "text-center large-margin-top green-font"><%= t('legal.legal_information') %></h1>
  <div class="margin-top-30">
    <p><%= t('legal.owner') %></p>
    <p><%= t('legal.responsable') %></p>
    <p><%= t('legal.address') %></p>
  </div>
</div>
