/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 3px $dark-gray;
  text-align: center;
  color: $dark-gray;
}
.alert-info {
  background: $yellow;
}
.alert-warning {
  background: $red;
}
