.banner {
 color: white;
 text-align: center;
 height: 70vh;
 /* if you have a 70px navbar => height: calc(100vh - 70px); */
 background-size: cover !important;
 background-position: 90% 0%;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
}

.banner h1 {
 font-weight: 400;
 text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
 padding: 0px;
 margin: 0px;
}

.banner p {
 padding: 0px;
 margin: 0px;
 font-size: 20px;
 font-weight: lighter;
 color: rgba(255, 255, 255, 0.7);
 margin-bottom: 20px;
}

.banner-skill {
 height: 40vh !important;
}

@media (max-width: $screen-sm-min) {
    // Tailles de polices
    .banner > h1 {
      font-size: 30px !important;
    }
  }

  // tablettes (sm)

  @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
    // Tailles de polices
    .banner > h1 {
      font-size: 40px !important;
    }

  }

  // small laptop (md)

  @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
    // Tailles de polices
    .banner > h1 {
      font-size: 50px !important;
    }

  }

  // large laptops (lg and xl)

  @media (min-width: $screen-lg-min) {
    // Tailles de polices
    .banner > h1 {
      font-size: 70px !important;
    }

  }

  .banner-content {
    .logo-text {
      color: $green;
      p {
        font-size: 50px;
      }
      h1 {
        font-size: 100px;
      }
    }
    text-align: center;
  }

  .banner-content {
    margin-top: 80vh;
    .logo-text {
      color: $green !important;
      margin: 0px;
      padding: 0px;
      p {
        position:absolute;
        bottom:5px;
        right:10px;
        margin: 0px;
        color: white;
      }
      h1 {
        position:absolute;
        bottom:0;
        left:0;
      }
    }

    #logo-text-1 {
      // width: 100%;
      // float: right;

      color: $green;
      bottom: 0;
      padding: 0px;
    }

    #logo-text-2 {

      color: $green;
      margin: 0px;
      padding: 0px;

    }
    .subtitle {
      border-top: solid 3px white;
      width: 650px;
      text-align: center;
      color: white !important;
    }
  }

