.banner {
 /* if you have a 70px navbar => height: calc(100vh - 70px); */
 background-size: cover !important;
 background-position: 78% 0%;
 height: 100vh;
}

.banner-skill {
 height: 40vh !important;
}

@media (max-width: $screen-sm-min) {
    // Tailles de polices
    .logo-text {
      display: flex;
      // width: 650px;
      p {
        font-size: 20px;
      }
      h1 {
        font-size: 64px;
        text-align: center;
      }
    }
    .logo-text-1 {
      margin-top: 25px;
      display: none;
    }
    .logo-text-2 {
      text-shadow: 1px 1px $white;
    }
    .logo-subtitle {
      font-size: 13px;
    }
    .banner {
      height: 50vh;
    }
    .banner-text {
      display: table;
      margin: 0 auto;
      padding-top: 30vh;
      width: 50vw;
    }
  }

  // tablettes (sm)

  @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
    // Tailles de polices
    .logo-text {
      display: flex;
      // width: 500px;
      p {
        font-size: 40px;
        margin-right: 3px;
      }
      h1 {
        font-size: 70px;
      }
    }
    .logo-text-1 {
      margin-top: 41px;
    }
    .logo-text-2 {
      text-shadow: 2px 2px $white;
    }
    .logo-subtitle {
      font-size: 20px;
    }
    .banner-text {
      display: table;
      margin: 0 auto;
      padding-top: 70vh;
      width: 50vw;
    }
  }

  // small laptop (md)

  @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
    // Tailles de polices
    .logo-text {
      display: flex;
      // width: 650px;
      p {
        font-size: 50px;
        margin-right: 3px;
      }
      h1 {
        font-size: 100px;
      }
    }
    .logo-text-1 {
      margin-top: 55px;
    }
    .logo-text-2 {
      text-shadow: 2px 2px $white;
    }
    .logo-subtitle {
      font-size: 25px;
    }
    .banner-text {
      display: table;
      margin: 0 auto;
      padding-top: 70vh;
      width: 50vw;
    }
  }

  // large laptops (lg and xl)

  @media (min-width: $screen-lg-min) {
    // Tailles de polices
    .logo-text {
      position: relative;
      display: flex;
      // width: 650px;
      p {
        font-size: 50px;
        margin-right: 3px;
      }
      h1 {
        font-size: 100px;
      }
    }
    .logo-text-1 {
      margin-top: 55px;
    }
    .logo-text-2 {
      text-shadow: 2px 2px $white;
    }
    .logo-subtitle {
      font-size: 25px;
    }

    .banner-text {
      display: table;
      margin: 0 auto;
      padding-top: 70vh;
      width: 50vw;
    }
  }


.logo-text {
  width: 70vw !important;
}

.logo-text-1 {
  flex: 1 1 auto;
  color: $white;
  padding: 0px;
  text-align: right !important;
}

.logo-text-2 {
  flex: 1 1 auto;
  color: $green;
  margin: 0px;
  padding: 0px;
}

.logo-subtitle {
  width: 70vw !important;
  border-top: solid 3px white;
  width: 650px;
  text-align: center;
  color: $white !important;
  margin-top: -15px;
}


