
div {
  display: block;
}

.card-home {
  position: relative;
  background-color: white;
  height: 235px;
  margin: 5px;
  padding: 25px 27px;
  margin-bottom: 30px;
  opacity: 0.9;
}

 .card-home h4 {
  font-size: 30px;
  color: $dark-gray;

 }

 .card-home p {
  font-size: 14px;
  color: $light-gray;
 }

.card-home i{
  color: $yellow;
  font-size: 60px;
}

.card-home:hover {
  opacity: 1;
}


// smart-phones (xs)
@media (max-width: $screen-sm-min) {
  .card-home h4 {
    font-size: 20px;
  }
  .card-home p {
    font-size: 12px;
  }
  .card-home {
    padding: 5px;
    height: 188px;
  }
}

