
div {
  display: block;
}

.card-pages {
  position: relative;
  background-color: white;
  margin: 5px;
  padding: 5px 12px;
  margin-bottom: 0px;
  opacity: 0.9;
}

.card-pages:hover {
  opacity: 1;
}

 .card-pages h4 {
  font-size: 30px;
  color: $green;
  opacity: 0.8;
 }

 .card-pages p {
  font-size: 14px;
  color: $gray;
  text-align: justify
 }

.card-pages i{
  color: $green;
  font-size: 60px;
}

.image-pages {
  width: 100%;
}

// mmedia queries sur taille des photos

  // smartphones (xs)
@media (max-width: $screen-sm-min) {
    .cl-image-container {
      background-color: $green;
      margin: 10px;
      height: 12vw;
      width: 100%;
      display:flex;
      align-items: center;
      justify-content: space-around;
    }
    .cl-image-pages {
      img {
        height: 10vw !important;
      }
    }
  }

  // tablettes (sm)

  @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
    .cl-image-container {
      background-color: $green;
      margin: 10px;
      height: 12vw;
      width: 100%;
      display:flex;
      align-items: center;
      justify-content: space-around;
    }
    .cl-image-pages {
      img {
        height: 10vw !important;
      }
    }
  }

  // small laptop (md)

  @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
    .cl-image-container {
      background-color: $green;
      margin: 10px;
      width: 100%;
      height: 12vw;
      display:flex;
      align-items: center;
      justify-content: space-around;
    }
    .cl-image-pages {
      img {
        height: 10vw !important;
      }
    }
  }

  // large laptops (lg and xl)

  @media (min-width: $screen-lg-min) {
    .cl-image-container {
      background-color: $green;
      margin: 10px;
      height: 12vw;
      width: 100%;
      display:flex;
      align-items: center;
      justify-content: space-around;
    }
    .cl-image-pages {
      img {
        height: 10vw !important;
      }
    }
  }



.cl-image-pages {
  max-width: 100%;
  img {
    max-width: 100%;
  }
  text-align: center;
  padding: 5px;
}

.back-gallery-button {
  color: $green !important;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;
}

// alignement à gauche quand plus grand que smartphones

@media (min-width: $screen-sm-min) {
  .back-gallery-button {
     text-align: left;
   }
}

.subtitle {
  color: $dark-gray !important;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 20px;
}

.timeline {
  text-align: left;
  position: fixed;
  top: 65px;
  left: 10;
  width: 20%;
}

.menu-inactive {
  color: $light-gray;
}

.menu-active {
  color: $green;
}

@media (max-width: $screen-sm-min) {
    // masquer le sommaire pour les smartphones
    .timeline {
      display: none;
    }
}



.timeline-title {
  border-bottom: solid 3px $green;
  color: $green;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.timeline li {
  // position: fixed;
  list-style-type: circle;
}

