#map {
  margin-top: 50px;
  margin-bottom: 20px;
  border: solid 5px white;
  width: 100%;
  height: 300px;
}

// smart-phones (xs)
@media (max-width: $screen-sm-min) {
  #map {
    margin-top: 35px;
  }
}

// tablets, small, large and extra-large laptops (sm, md, lg, xl)
@media (min-width: $screen-sm-min) {
  #map {
    margin-top: 0px;
  }
}
