<!DOCTYPE html>
<html>
 <head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <style>
     /* Email styles need to be inline */
   </style>
 </head>

 <body style="font-family: Verdana; color: #62676A;">
     <center>
       <h1 style="color: #F8E386; background-color: #0F0F0F; padding-top: 20px; padding-bottom: 20px;">MEDAVY</h1>
     </center>
     <br><br>
     <%= yield %>
     <br><br><br>
     <center>
      <p style="color: #F8E386; background-color: #0F0F0F; padding-top: 20px; padding-bottom: 20px;"> <%= t('messages.signature') %> </p>
     </center>
 </body>
</html>
